main > .container {
    padding: 100px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}
.contact-box-section .right-sidebar-box .custom-form .custom-gender {
	position: relative
}

.custom-gender .form-select {
	padding: 3%;
    padding-left: 3rem;
	border: none
}
.contact-box-section .right-sidebar-box .custom-form .custom-gender i  {
	position: absolute;
	top: 0;
	left: 0;
	height: 130%;
	padding: 0 calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: calc(14px+ (18 - 14) * ((100vw - 320px) / (1920 - 320)));
	color: #4a5568
}
.invalid-feedback{
    margin-top: -16px ;
    padding-left: 70%;
}
/* Estilos para la barra de progreso */
    .progress-container {
        width: 100%;
        /* Ocupa el ancho completo */
        background-color: #ddd;
        /* Color de fondo gris claro */
        padding: 10px;
        /* Espaciado interno */
        box-sizing: border-box;
        /* Ajusta el modelo de caja */
        margin-top: 20px;
    }

    .progress-title {
        font-size: 18px;
    }

    .progress {
        width: 100%;
        height: 40px;
    }

    .progress-bar {
        background-color: #2a7d9d;
    }